@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Rubik Glitch */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Rubik+Glitch&display=swap');

/* Pt Serif */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Page not Found */
.pagenotfound-container {
  width: 100%;
  height: 100vh;
  --color: #e1e1e1;
  background-color: #f3f3f3;
  background-image: linear-gradient(0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent),
    linear-gradient(90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent);
  background-size: 55px 55px;
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right,
      hsl(200, 40%, 42%) 0%,
      hsl(200, 40%, 42%) 8%,
      hsl(200, 40%, 42%) 92%,
      hsl(200, 40%, 42%) 100%);
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(200, 87%, 67%);
  padding: 16px 32px;
  font-size: 25px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}


/* Login */
.logincontainer {
  width: 100%;
  height: 100vh;
  --s: 82px;
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0);
  background-size: calc(1.732 * var(--s)) var(--s);
}


/* Menu */

.activeoptions{
  background-color: #1679AB;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-family: 'PT serif', cursive;
  border: 3px solid #1679AB;
  color: white;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
  width: 90%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.activeoptions:hover{
  background-color: white;
  color: #1679AB;
}

.options {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-family: 'PT serif', cursive;
  border: 3px solid #868686;
  color: #868686;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 600;
  width: 90%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.options:hover {
  background-color: #868686;
  color: white;
}

.optionname {
  margin-left: 7px;
}

.optionicon {
  margin-right: 7px;
}

.logoutbtn{
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-slideDown {
  animation: slideDown 0.2s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.2s ease-out forwards;
}

.billhistory {
  font-family: 'PT serif', cursive; /* Optional: make the table take full width */
  border-collapse: collapse; /* Collapse borders to avoid double borders */
}

.billhistory th {
  border: 2px solid black; /* Change #ccc to your desired border color */
  padding: 8px; /* Optional: padding for cells */
  text-align: center;
  background-color: #1679AB; /* Optional: align text to the left */
}

.billhistory td {
  font-weight: 700;
  border: 2px solid black; /* Change #ccc to your desired border color */
  padding: 8px; /* Optional: padding for cells */
  text-align: center; /* Optional: align text to the left */
}

.billhistory thead {
  background-color: #f2f2f2; /* Change to your desired header color */
}

/* Optional: Add hover effect on rows */
.billhistory tr:hover {
  background-color: #e0e0e0; /* Change to your desired hover color */
}
